@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
  --primaryColor: 64, 224, 208;
  --animationTime: 200ms;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  aspect-ratio: 1;

  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.1rem solid rgb(var(--primaryColor), 0.5); */
  transition: width var(--animationTime) linear,
    height var(--animationTime) linear, font-size var(--animationTime) linear;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0.1rem 0.1rem 0.3rem black;
}

.hexagon,
.dot {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: border-width var(--animationTime) linear,
    width var(--animationTime) linear, height var(--animationTime) linear;
  color: rgb(var(--primaryColor), 0.5);
  text-shadow: none;
}

.dot {
  width: 40%;
  height: 50%;
  color: rgb(var(--primaryColor));
}

.ButtonLetter {
  position: relative;
}

.pointText {
  animation: fadeIn 300ms ease-in;
  position: absolute;
  left: 100%;
  width: max-content;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
